body{
    background-color: #eeeeee;
}
*{
    box-sizing: border-box;
}
strong{
    font-weight: bold;
}
.topo{
    width: 100vw;
    height: 92px;
    background-color: #cf2b2b;
    color:#ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    padding-left: 21px;
}

.conteudo{
    background-color: #cbcbcb;
    height: auto;
    margin: 92px 0px 92px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.category{
    background-color: #cbcbcb;
    height: auto;
    width: auto;
    margin: 0px 10px 16px 10px;

}
.category-dishes{
  
    background-color: #cbcbcb;
    height: 216px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    overflow-x: scroll;  
}
.category-title{
    margin: 31px 0px 17px 0px;
}
.dishes{
    height: 216px;
    width: 172px;
    margin:0px 10px 0px  10px;
    border-radius: 4px;
    background-color: #ffffff;
    padding: 16px 14px 0px 14px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    
    
}
.dishes-img{
    
    width: 144px;
    border-radius: 4px;
}
.dishes-title{
    color: #333333;
}
.dishes-sub-title{
    color: #a6a6a6;
}
.dishes-price{
    color: #000000;
}
.category-dessert{
  
    background-color: #cbcbcb;
    height: 216px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    overflow-x: scroll;  
}
.category-beverage{
  
    background-color: #cbcbcb;
    height: 216px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    overflow-x: scroll;  
}

.barra-inferior{
    width: 100vw;
    height: 92px;
    background-color: #ffffff;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.retangulo-botao{
    background-color: #cbcbcb;
    border-radius: 50px;
    width: 80vw;
    height: 61px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}
.texto-botao{
   width: 60vw;
   display: flex;
   align-items: center;
   justify-content: center;
   padding-left: 25px;
    
}

/* FONTES - INICIO */
.font-roboto{
    font-family: 'Roboto', sans-serif;
}
.font-righteous{
    font-family: 'Righteous', cursive;
}
.font-size-44{
    font-size: 44px;
}
.font-size-26{
    font-size: 26px;
}
.font-size-20{
    font-size: 20px;
}
.font-size-18{
    font-size: 18px;
}
.font-size-16{
    font-size: 16px;
}
.font-size-15{
    font-size: 15px;
}
/* FONTES - FIM */

.dishe-slected{
    border: 2px solid #32b72f;
}